<template>
    <div>
        <Navbar2/>
        <Login/> 
        <Footer2/>      
    </div>
    
</template>
<script>
import Navbar2 from '../components/Navbar2.vue'
import Footer2 from '../components/Footer2.vue'
import Login from '../components/Login.vue'
export default {
    name: 'Auth',
    components:{
        Login,
        Navbar2,
        Footer2
    }
    
}
</script>
<style scoped>


</style>