<template>
    <div>
        <Navbar2/>
        <Main/>
        <Footer2/>
        
    </div>
    
</template>
<script>

import Navbar2 from '../components/Navbar2.vue'
import Footer2 from '../components/Footer2.vue'
import Main from '../components/Main.vue'
export default {
    name: 'Home',
    components:{
        Navbar2,
        Footer2,
        Main
    
    }
    
}
</script>
<style scoped>


</style>