<template>
    <div>
        <Navbar2/>
        <Register/> 
        <Footer2/>      
    </div>
    
</template>
<script>
import Navbar2 from '../components/Navbar2.vue'
import Footer2 from '../components/Footer2.vue'
import Register from '../components/Register.vue'
export default {
    name: 'PRegister',
    components:{
        Register,
        Navbar2,
        Footer2
    }
    
}
</script>
<style scoped>


</style>