<template>
    <div>

        <UCourse/>       
    </div>
    
</template>
<script>

import UCourse from '../components/UCourse.vue'
export default {
    name: 'UserCours',
   components:{
       UCourse
   }
    
}
</script>
<style scoped>


</style>