<template>
    <div>
        <UPrice/>
        
        
        
    </div>
    
</template>
<script>

import UPrice from '../components/UPrice.vue'
export default {
    name: 'UserPrice',
    components:{
        UPrice,
        
        
        
    
    }
    
}
</script>
<style scoped>


</style>