<template>
    <div>
        <Navbar/>
        
        
        
    </div>
    
</template>
<script>

import Navbar from '../components/Cabinet/Navbar.vue'
export default {
    name: 'UserHome',
    components:{
        Navbar,
        
        
        
    
    }
    
}
</script>
<style scoped>


</style>