<template>
    <footer class="bg-white  pt-5 pb-4" style="color:#555" id="contact">
        <div class="row  text-md-left">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 max-auto mt-3">
                <h5 class="text-uppercase mb-4 font-wieght-bold " style="color:#ffd900">Kholov Academy</h5>
                <p><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12407.485311745031!2d66.685793!3d38.972606!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xec26ca74ecf43727!2sKholov%20Academy!5e0!3m2!1sru!2sus!4v1636325580093!5m2!1sru!2sus" width="80%" height="120" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
               
            </div>
            <div class=" col-sm-6 col-md-3 col-lg-3 col-xl-3 max-auto mt-3" id="kurslar">
                <h5 class="text-uppercase mb-4 font-wieght-bold " style="color:#ffd900">Biz haqimizda</h5>
                    <p>
                        <a href="/#courses"  style="text-decoration:none; color:#555">Kurslar</a>
                    </p>
                    <p>
                        <a href="/#our-advantage"  style="text-decoration:none; color:#555">Afzallilar</a>
                    </p>
                    <p>
                        <a href="/news" style="text-decoration:none; color:#555">Yangiliklar</a>
                    </p>
                    <p>
                        <a href="/" style="text-decoration:none; color:#555">O'quvchilar</a>
                    </p>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2 max-auto mt-3" id="jamoa">
                <h5 class="text-uppercase mb-4 font-wieght-bold " style="color:#ffd900">Jamoa</h5>
                    <p>
                        <a href="/team2" style="text-decoration:none; color:#555">Ustozlar</a>
                    </p>
                    <p>
                        <a href="/team" style="text-decoration:none; color:#555">Rahbar</a>
                    </p>
                    <p>
                        <a href="/" style="text-decoration:none; color:#555">Savollar</a>
                    </p>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 max-auto mt-3" id="cantact">
                <h5 class="text-uppercase mb-4 font-wieght-bold " style="color:#ffd900">Kantakt</h5>
                    

                    <p>
                        <a class="tel" href="tel:+998973813815" style="text-decoration:none; color:#555"><i class="fas fa-phone mr-3"></i> +998 97 381 38 15</a>
                    </p>
                   
                    <ul class="list-unstyled list-inline" id="btn">
                        <li class="list-inline-item">
                            <a href="" class="btn-floating btn-sm" style="font-size:23px; color:#ffd900">
                                <i class="fab fa-telegram-plane"></i>
                            </a>
                        </li>
                         <li class="list-inline-item">
                            <a href="" class="btn-floating btn-sm" style="font-size:23px; color:#ffd900">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                         <li class="list-inline-item">
                            <a href="" class="btn-floating btn-sm" style="font-size:23px; color:#ffd900">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
            </div>
        </div>
        <hr class="mb-3">
        <p class="security">Saytda ishlatilgan ma’lumotlar, video kontentlar himoyalangan. Ularni yozib olish, ko'chirish, tarqatish mumkin emas, aks holda javobgarlikka tortilasiz!</p>
        <hr class="mb-3">
        <div class="row align-items-center ">
            <div class="col-sm-6 col-md-7 col-lg-8 ">
                <p >© 2021.All rights reserved</p>
            </div>
            

        </div>
    </footer>
    
</template>
<script>

export default{
    name: 'Footer2'
}
</script>
<style scoped>
#btn li a:hover{
    color: #555 !important;
}
.security{
    color: #555;
}
.tel:hover {
    font-size: 15px;
}



</style>
