<template>
    <div>
        <div class="row">
            <div class="col">
                <div class="login">
                    <h2>Kirish</h2>
                    <p>Ro'yxatdan o'tish orqali siz bizning veb saytimizda bir nechta imkoniyatlarga ega bo'lasiz.Agar siz ro'yxatdan o'tgan bo'lsangiz, kirish tugmasini bosing</p>
                    <h5>Quyidagi so’rovnomani to’ldirishingiz so’raladi</h5>
                    <p>Kiritilgan telefon raqamga SMS xabarnoma yuboriladi, maxsus kod yordamida tasdiqlashingiz so’raladi</p>
                    <form action="">
                        <p>Telefon.raqam</p>
                        <input type="text" id="salary" name="salary" maxlength="13" value="+998"
                         oninput="this.value = this.value.replace(/+/g).replace(/[^0-9.]/g, '');" >
                        <button><i class="fas fa-arrow-right"></i></button>
                    </form>
                </div>
            </div>
        </div>   
    </div>
</template>
<script>
export default {
    name: 'Login',   
}

</script>
<style scoped>
.col{
   
    margin-top: 20px;

}
.login{
    background-color: #EFF6F7;
    color: #555;
    margin-left: 5%;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    border:#555 solid 1px;
    padding: 20px;
    border-radius: 16px;
}
.login h2{
    font-weight: bold;
}
.login p {
    font-size: 15px;
    margin-bottom: 25px;
    
}
form p{
    font-size: 12px;
    color: #a1aeaf;
    margin-bottom: 0 !important;
}
form i{
    
    color: #ffd900;
    font-size: 30px;   
}
form button{
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
     background-color: #EFF6F7;
}
form input{
    outline: none;
    border: none;
    padding: 10px;
}
@media(max-width: 380px){
    form input,
    form button{
        width: 170px;
    }
   
}
</style>