<template>
    <div class="bg-white  pt-5 pb-4" style="color:#555">
        <div class="row text md-lift">
            <div class=" col-md-6 col-lg-6 col-xl-6 max-auto mt-3">
                <h2 class=" mb-2 font-wieght-bold " style="color:#555"><span class="text-uppercase " style="font-weight: bold">kholov academy</span> bilan birinchi imtihondayoq talaba bo'l!</h2>
                <p>10+ yil tajribaga ega ustozlar va 1000 dan ziyot o'quvchilar</p>
                <a href="/register" class="btn btn-primary " style="width:180px; border-radius:26px; position: relative" id="link"><span style="">Birinchi darsga <br>yozilish</span></a>
            </div>
            <div class=" col-md-6 col-lg-6 col-xl-6 max-auto mt-3">
                <img src="../../public/img/edu3.jpg" class="" style="width:100%" >
            </div>
        </div>
        <div class="row text-center mt-3">
            <div class="col">
                <h1 class="mb-2 font-wieght-bold " style="color:#555; font-weight: bold;font-size:40px" id="courses">O'zingiz uchun mos kursni tanlang</h1>
            </div>

        </div>
        <div class="row text-center text-md-left mt-3 " style="background-color:#f5f7f9; border-radius:26px">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 max-auto mt-3 " style="margin: 0 auto ">
                <h5 class="text-uppercase mb-4 font-wieght-bold " style="color:#ffd900">Fanlar</h5>
                    <p>
                        <a href="" style="text-decoration:none; color:#555">Tarix</a>
                    </p>
                    <p>
                        <a href="" style="text-decoration:none; color:#555">Geografiya</a>
                    </p>
                    <p>
                        <a href="" style="text-decoration:none; color:#555">Biologiya</a>
                    </p>
                     <p>
                        <a href="" style="text-decoration:none; color:#555">Matemateka</a>
                    </p>
                     <p>
                        <a href="" style="text-decoration:none; color:#555">Kimyo</a>
                    </p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6 max-auto mt-3 ">
                <h5 class="text-uppercase mb-4 font-wieght-bold " style="color:#ffd900">Til kurslar</h5>
                    <p>
                        <a href="" style="text-decoration:none; color:#555">Ona-tili</a>
                    </p>
                    <p>
                        <a href="" style="text-decoration:none; color:#555">Ingliz tili</a>
                    </p>
                    <p>
                        <a href="" style="text-decoration:none; color:#555">IELTS</a>
                    </p>
                     <p>
                        <a href="" style="text-decoration:none; color:#555">CEFR</a>
                    </p>
                     <p>
                        <a href="" style="text-decoration:none; color:#555">Rus tili</a>
                    </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col max-auto mt-3">
                <a href="/register" class="btn btn-primary " style="width:180px; border-radius:26px; position: relative" id="link"><span style="">Kursga yozilish</span></a>
            </div>
        </div>
         <div class="row text-center mt-5">

            <div class="col">
                <h1 class="mb-2 font-wieght-bold " style="color:#555; font-weight: bold;font-size:40px" id="our-advantage">Kholov Academy o'quv markazi afzalliklari</h1>
                <p style="font-family:'MontRegular'; font-size:16px">Har bir o'quvchimiz quyidagi afzalliklarga ega bo'ladi</p>
            </div>
        </div>
        <div class="row " style="background-color:#f5f7f9; border-radius:26px">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 max-auto mt-3">
                <ul class="list-inline ">
                    <li class="list-inline-item d-flex justify-content-between">
                        <i class="fas fa-user-graduate mt-2" style="font-size:26px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            O'quvchilarni imtihonlarga tayyorlash bo'yicha 10-15 yillik tajribaga ega ustozlar
                        </span>
                    </li>
                </ul> 
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 max-auto mt-3">
                <ul class="list-inline ">
                    <li class="list-inline-item d-flex">
                        <i class="fas fa-user-friends mt-2 " style="font-size:26px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                             Gruhda o'quvchilqr soni 10-15 tadan oshmaydi
                        </span>
                    </li>
                </ul> 
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 max-auto mt-3">
                <ul class="list-inline ">
                    <li class="list-inline-item d-flex ">
                        <i class="fas fa-graduation-cap mt-2" style="font-size:26px; color:#ffd900"></i>
                        <span  style="margin-left:15px" >
                            DTM andozasi bo'yicha oylik test snovlari o'tkaziladi
                        </span>
                    </li>
                </ul> 
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 max-auto mt-3">
                <ul class="list-inline ">
                    <li class="list-inline-item d-flex ">
                        <i class="fas fa-clock mt-2" style="font-size:26px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            Darslar haftasiga 3 marta 2 soatdan olib boriladi
                        </span>
                    </li>
                </ul> 
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 max-auto mt-3">
                <ul class="list-inline ">
                    <li class="list-inline-item d-flex  ">
                        <i class="fas fa-address-card mt-2" style="font-size:26px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            Ota-ona va o’quvchi o'z uy vazifalari, baho va natijalarini kuzatib borishi uchun maxsus platformada shaxsiy kabinet
                        </span>
                    </li>
                </ul> 
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 max-auto mt-3">
                <ul class="list-inline ">
                    <li class="list-inline-item d-flex ">
                        <i class="fas fa-align-left mt-2" style="font-size:26px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            Tarqatma materiallar bepul
                        </span>
                    </li>
                </ul> 
            </div>
        </div>
        <!-- O'quv markasga tashrif /start-->
        <div class="row text-center mt-5">
            <div class="col">
                <h1 class="mb-2 font-wieght-bold " style="color:#555; font-weight: bold;font-size:40px">O'quv markazimiz bo'ylab ekuskursiyaga marhamat!</h1>
                <p style=" font-size:16px; margin-left:20%; margin-right:20%">O'z bilim darajangizni bepul tikshirish va o'quv markazimizga bepul ekuskursiyaga tashrif buyurush uchun o'z ma'lumotlaringizni qoldiring</p>
            </div>
        </div>
        <div class="row text-md-left">
            <div class=" col-md-6 col-lg-6 col-xl-6 max-auto mt-3">
                <form>
                    <input 
                        v-model="data.name"
                        type="text" class="form-control mt-3 " placeholder="Ism" ><br>
                    <input 
                        v-model="data.surname"
                        type="text" class="form-control" placeholder="Familya"><br>
                    <input 
                        v-model="data.phone" 
                        type="text" class="form-control" placeholder="Telefon raqamingiz"><br>
                    <textarea 
                        v-model="data.text"
                        class="form-control" placeholder="Fikr va mulohazalar" id="" cols="24" rows="3"></textarea><br>
                    <button class="mt-2">Junatish</button>
                    <p class="text-center mt-3" style="font-size:13px">
                        <i class="fas fa-info-circle"></i>
                        Ma'lumotlaringiz 3-shaxslarga berilmaydi
                    </p>
                </form>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 max-auto mt-3 ">
               <div class="mt-3 " id="img">
                    <img src="../../public/img/img2.png" width="100%"  style="border-radius:16px; " >
               </div>
            </div>
        </div>
        <!-- O'quv markasga tashrif /end-->
    </div>    
</template>
<script>
export default {
    name: 'Main',
    methods:{

    },
    data() {
        return{
            data:{
                name: '',
                surname: '',
                phone: '',
                text: ''
            }
        }
    }
}
</script>
<style scoped>
.link{
    margin-bottom: 0 !important;
}
ul li p{
    float: right !important;
}
form {
    background-color: #ffd900;
    border-radius: 15px;
    padding: 16px 25px;
    margin-top: 16px;
    border: none;
}
form input,
form textarea
{
    font-size: 16px;
    display: block;
    width: 100%;
    border-radius: 16px;
    color: #555;
    margin-bottom: 0;
}
form button {
    font-size: 16px;
    display: block;
    width: 100%;
    border-radius: 16px;
    color: #fff;
    background-color: #0d6efd;
    padding-top: 6px;
    padding-bottom: 6px;  
}
#img img{
    height: 130%;
}

</style>