<template>
   <header>
      <nav>
          <input type="checkbox" id="check">
          <label for="check">
              <i class="fas fa-bars" id="btn"></i>
              <i class="fas fa-times" id="cansel"></i>
          </label>
          <a href="/"><img src="../../public/img/logo.png"></a>
          <!--<div>Kholov <br><span>Academy</span></div>-->
          <ul>
              <li><a href="/#courses">Kurslar</a></li>
              <li><a href="/team2">Jamoa</a></li>
              <li><a href="#">Yangiliklar</a></li>
              <li><a href="#cantact">Kantakt</a></li>
              <li><a href="#">Oferta</a></li>
              <li>
                  <span><a href="/login"><i class="fas fa-user"><strong>Shaxsiy kabinet</strong></i></a></span>
              </li>
          </ul>
      </nav>
   </header>
</template>

<script>
export default {
    name: 'Navbar2'
    
}
</script>
<style scoped>
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
nav {
    height: 80px;
    background-color: #fff;
}
nav img {
    width: 80px;
    position: absolute;
    top:10px;
    left: 5%;
}
nav div{
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 12%;
    margin-bottom: 0;
}
nav div span{
    margin: 0 !important;
    left: 5px;
    font-size: 15px;
}

nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    color: #555;
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 5px;
}
nav ul li span a{
    position: relative;
    text-transform:inherit !important;
    color: #555;
    border-radius: 26px !important;
    background-color: #ffd900;
    padding: 10px;
}
nav ul li span a i strong{
    font-size: 16px;
    padding-left: 5px;

}

nav ul li span a:hover::before{
    color:#111 ;
    transform: scaleX(0);
}
nav ul li a::before{
    position: absolute;
    content: '';
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #ffd900;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
nav ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
nav label{
    float: right;
}
 label #btn,
 label #cansel{ 
    color: #ffd900;
    font-size: 30px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
 
@media(max-width: 1118px) {
    nav img {
        left: 8%;
    }
}
@media(max-width: 944px) {
    nav img {
        left: 6%;
        top: 20px;
        width: 60px;
    }
    nav ul li a{
        font-size: 14px;
    }
}
@media(max-width: 860px) {
    label #btn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color:#f6f6f6;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
     nav ul li a{
        font-size: 15px;
    }
    #check:checked ~ ul{
        left: 0;
    
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cansel{
        display: block;
    }
}
</style>