<template>
    <div>
        <div class="row text-center">
            <div class="col">
                <div class="login">
                    <h2>Royhatdan o'ting</h2>
                    <p>Kholov Academy o’quv markazi<br> kurslariga ro’yxatdan o’ting<br> va biz bilan talaba bo'ling! 😊</p>
                   
                    <form action="">
                        <p>Ismingiz</p>
                        <input type="text" maxlength="20">
                        <p>Familhangiz</p>
                        <input type="text" maxlength="20">
                        <p>Telefon.raqam</p>
                        <input type="text" id="salary" name="salary" maxlength="13" value="+998"
                         oninput="this.value = this.value.replace(/+/g).replace(/[^0-9.]/g, '');" >
                        <div>
                            <button>Yuborish</button>
                        </div>

                        <div>
                            <i class="fas fa-exclamation-circle">
                                 <span>Ma'lumotlaringizni bizga yuboring<br> va menejerlarimiz tez orada siz bilan bog'lanadi.</span>
                            </i>
                       
                        </div>
                    </form>
                </div>
            </div>
        </div>   
    </div>
</template>
<script>
export default {
    name: 'Register',   
}

</script>
<style scoped>
.col{
   
    margin-top: 20px;

}
.login{
    background-color: #EFF6F7;
    color: #555;
    margin-left: 5%;
    width: 90%;
    height: 100%;
    box-sizing: border-box;
    border:#555 solid 1px;
    padding: 20px;
    border-radius: 16px;
}
.login h2{
    font-weight: bold;
}
.login p {
    font-size: 15px;
    margin-bottom: 25px;
    
}
form p{
    font-size: 12px;
    color: #a1aeaf;
    margin-bottom: 0 !important;
}
form i{
    margin-top: 20px;
    color: #ffd900;
    font-size: 12px;   
}
form button{
    margin-top: 15px;
    border-radius: 20px;
    width: 220px;
    color: #fff;
    background-color: #ffd900;
}
form input{
    width: 220px;
    outline: none;
    border: none;
    padding: 10px;
}
form i span{
    color: #555 !important;
    margin-left: 12px;
}
@media(max-width: 300px){
    form input,
    form button{
        width: 170px;
    }
}
</style>