<template>
    <div class="team">
        <div class="row text-md-left">
            <div class=" col-md-6 col-lg-6 col-xl-6 max-auto mt-3">
                <div>
                    <img src="../../public/img/team.jpg" width="100%">
                </div>      
            </div>
            <div class="col-md-6 col-lg-6col-xl-6 max-auto mt-5 mb-5">
                <div class="text">
                    <h3>
                    Bizning missiya <span> - intiluvchan va qadriyatli o’zbek yoshlarini dunyoga yetakchi bo’ladigan darajaga olib chiqish</span>
                    </h3>    
                </div>  
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <h1 class="mb-2 font-wieght-bold " style="color:#555; font-weight: bold;font-size:48px">Ustozlar jamoasi</h1>
            </div>
        </div>
        
        <div class="row ">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 max-auto mt-5 " id="teacher">
                <div class="text-center">
                      <img src="../../public/img/xolov.jpg" alt="" style="border-radius:50%; width:13rem; ">
                </div>
                <h4 class="text-center" style="color:#0d6efd; font-size:28px;">Xolov Sherzod</h4>
                <p class="text-center">Tarix fani o'qtuvchisi</p>
                <h5 class="text-center" style="color:#ffd900; font-size:20px;">Magistr</h5>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 max-auto mt-5 " id="teacher" >
                <div class="text-center">
                      <img src="../../public/img/xolov.jpg" alt="" style="border-radius:50%; width:13rem; ">
                </div>
                <h4 class="text-center" style="color:#0d6efd; font-size:28px;">Xolov Sherzod</h4>
                <ul class="list-inline  text-md-left">
                    <li class="list-inline-item d-flex ">
                        <i class="fas fa-star mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba mt-1">
                                <p><strong>Tajriba:</strong> <span>9 yil</span></p>
                            </div>
                        </span>
                    </li>
                     <li class="list-inline-item d-flex ">
                        <i class="fas fa-graduation-cap mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba">
                                <p><strong>Yutuqari:</strong> <span>O'zbekiston Milly Unuversititi Magistranti</span></p>
                            </div>
                        </span>
                    </li>
                    <li class="list-inline-item d-flex ">
                        <i class="fa-solid fa-shield-blank mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba">
                                <p><strong>Kuchli tomonlari:</strong> <span>Ma'suliyatli,o'quvchilarga nisbatan qattiqqo'l</span></p>
                            </div>
                        </span>
                    </li>
                </ul> 
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 max-auto mt-5"  id="teacher">
                <div class="text-center">
                      <img src="../../public/img/xolov.jpg" alt="" style="border-radius:50%; width:100%; ">
                </div>
                <h4 class="text-center" style="color:#0d6efd; font-size:28px;">Xolov Sherzod</h4>
                <ul class="list-inline  text-md-left">
                    <li class="list-inline-item d-flex ">
                        <i class="fas fa-star mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba mt-1">
                                <p><strong>Tajriba:</strong> <span>9 yil</span></p>
                            </div>
                        </span>
                    </li>
                     <li class="list-inline-item d-flex ">
                        <i class="fas fa-graduation-cap mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba">
                                <p><strong>Yutuqari:</strong> <span>O'zbekiston Milly Unuversititi Magistranti</span></p>
                            </div>
                        </span>
                    </li>
                    <li class="list-inline-item d-flex ">
                        <i class="fa-solid fa-shield-blank mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba">
                                <p><strong>Kuchli tomonlari:</strong> <span>Ma'suliyatli,o'quvchilarga nisbatan qattiqqo'l</span></p>
                            </div>
                        </span>
                    </li>
                </ul> 
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 max-auto mt-5 " id="teacher" >
                <div class="text-center">
                      <img src="../../public/img/xolov.jpg" alt="" style="border-radius:50%; width:13rem; ">
                </div>
                <h4 class="text-center" style="color:#0d6efd; font-size:28px;">Xolov Sherzod</h4>
                <ul class="list-inline  text-md-left">
                    <li class="list-inline-item d-flex ">
                        <i class="fas fa-star mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba">
                                <p><strong>Tajriba:</strong> <span>9 yil</span></p>
                            </div>
                        </span>
                    </li>
                     <li class="list-inline-item d-flex ">
                        <i class="fas fa-graduation-cap mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba">
                                <p><strong>Yutuqari:</strong> <span>O'zbekiston Milly Unuversititi Magistranti</span></p>
                            </div>
                        </span>
                    </li>
                    <li class="list-inline-item d-flex ">
                        <i class="fa-solid fa-shield-blank mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba">
                                <p><strong>Kuchli tomonlari:</strong> <span>Ma'suliyatli,o'quvchilarga nisbatan qattiqqo'l</span></p>
                            </div>
                        </span>
                    </li>
                </ul> 
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 max-auto mt-5"  id="teacher">
                <div class="text-center">
                      <img src="../../public/img/xolov.jpg" alt="" style="border-radius:50%; width:13rem; ">
                </div>
                <h4 class="text-center" style="color:#0d6efd; font-size:28px;">Xolov Sherzod</h4>
                <ul class="list-inline  text-md-left">
                    <li class="list-inline-item d-flex ">
                        <i class="fas fa-star mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba mt-1">
                                <p><strong>Tajriba:</strong> <span>9 yil</span></p>
                            </div>
                        </span>
                    </li>
                     <li class="list-inline-item d-flex ">
                        <i class="fas fa-graduation-cap mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba">
                                <p><strong>Yutuqari:</strong> <span>O'zbekiston Milly Unuversititi Magistranti</span></p>
                            </div>
                        </span>
                    </li>
                    <li class="list-inline-item d-flex ">
                        <i class="fa-solid fa-shield-blank mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba">
                                <p><strong>Kuchli tomonlari:</strong> <span>Ma'suliyatli,o'quvchilarga nisbatan qattiqqo'l</span></p>
                            </div>
                        </span>
                    </li>
                </ul> 
            </div>       
         </div>
         <div class="row text-md-left mt-5">
             <div class="col-md-6 col-lg-6 col-xl-6 max-auto mt-5 ">
                <img src="../../public/img/xolov.jpg" width="100%">
            </div>
            <div class="col-md-6 col-lg-6col-xl-6 max-auto mt-5 ">
                <h4 style="color:#ffd900; font-size:24px">Rahbar</h4>
                <h4 style="color:#0d6efd; font-size:28px">Xolov Sherzod</h4>
                 <ul class="list-inline ">
                    <li class="list-inline-item d-flex ">
                        <i class="fas fa-star mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba mt-1">
                                <p><strong>Tajriba:</strong> <span>9 yil</span></p>
                            </div>
                        </span>
                    </li>
                     <li class="list-inline-item d-flex ">
                        <i class="fas fa-graduation-cap mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba">
                                <p><strong>Yutuqari:</strong> <span>O'zbekiston Milly Unuversititi Magistranti</span></p>
                            </div>
                        </span>
                    </li>
                    <li class="list-inline-item d-flex ">
                        <i class="fa-solid fa-shield-blank mt-2" style="font-size:18px; color:#ffd900"></i>
                        <span  style="margin-left:15px">
                            <div class="tajriba">
                                <p><strong>Kuchli tomonlari:</strong> <span>Ma'suliyatli,o'quvchilarga nisbatan qattiqqo'l</span></p>
                            </div>
                        </span>
                    </li>
                </ul> 
            </div>
            
        </div>
    </div>
</template>
<script>

export default {
    name: 'Team'
}
</script>
<style scoped>
.text h3{
    color: #ffd900;
    margin-bottom: 0;
}
.text h3 span{
    color: #555;
    margin-top: 50px !important;
    align-items: center;
}
.tajriba p{
    font-size: 18px;
    color: #555;
    font-family: 'MontBold' !important;
}
#teacher{
    border-radius: 16px;
    

}
#teacher div img{
    padding: 2px;
    width: 100% !important;
    border-radius: 50%;
}
</style>
