<template>
    <div class="team">
        <div class="row text-md-left" style="background-color:#f0f1f2">
            <div class=" col-md-6 col-lg-6 col-xl-6 max-auto">
                <div >
                    <img src="../../public/img/team.jpg" width="100%" >
                </div>      
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 max-auto " id="content" >
                <div class="text">
                    <h3>
                    Bizning missiya <span> - intiluvchan va qadriyatli o’zbek yoshlarini dunyoga yetakchi bo’ladigan darajaga olib chiqish</span>
                    </h3>    
                </div>  
            </div>
        </div>
        <div class="row text-center mt-5">
            <div class="col">
                <h1 class="mb-2 font-wieght-bold " style="color:#555; font-weight: bold;font-size:48px">Ustozlar jamoasi</h1>
            </div>
        </div>
        
            
        <div class="row text">
            <div class="col-md-6 col-lg-4 col-xl-3 max-auto mt-3 " id="teacher" >
               <div class="mentor">
                    <div class="text-center">
                      <img src="../../public/img/xolov.jpg" alt="">
                    </div>
                    <h4 class="text-center" style="color:#0d6efd; font-size:28px;">Xolov Sherzod</h4>
                    <ul class="list-inline  text-md-left">
                        <li class="list-inline-item d-flex ">
                            <i class="fas fa-star mt-2" style="font-size:18px; color:#ffd900"></i>
                            <span  style="margin-left:15px">
                                <div class="tajriba">
                                    <p><strong>Tajriba:</strong> <span>9 yil</span></p>
                                </div>
                            </span>
                        </li>
                        <li class="list-inline-item d-flex ">
                            <i class="fas fa-graduation-cap mt-2" style="font-size:18px; color:#ffd900"></i>
                            <span  style="margin-left:15px">
                                <div class="tajriba">
                                    <p><strong>Yutuqari:</strong> <span>O'zbekiston Milly Unuversititi Magistranti</span></p>
                                </div>
                            </span>
                        </li>
                        <li class="list-inline-item d-flex ">
                            <i class="fa-solid fa-shield-blank mt-2" style="font-size:18px; color:#ffd900"></i>
                            <span  style="margin-left:15px">
                                <div class="tajriba">
                                    <p><strong>Kuchli tomonlari:</strong> <span>Ma'suliyatli,o'quvchilarga nisbatan qattiqqo'l</span></p>
                                </div>
                            </span>
                        </li>
                    </ul> 
               </div>
            </div> 
            <div class="col-md-6 col-lg-4 col-xl-3 max-auto mt-3 " id="teacher" >
                <div class="mentor">
                    <div class="text-center">
                      <img src="../../public/img/xolov.jpg" alt="">
                    </div>
                    <h4 class="text-center" style="color:#0d6efd; font-size:28px;">Xolov Sherzod</h4>
                    <ul class="list-inline  text-md-left">
                        <li class="list-inline-item d-flex ">
                            <i class="fas fa-star mt-2" style="font-size:18px; color:#ffd900"></i>
                            <span  style="margin-left:15px">
                                <div class="tajriba">
                                    <p><strong>Tajriba:</strong> <span>9 yil</span></p>
                                </div>
                            </span>
                        </li>
                        <li class="list-inline-item d-flex ">
                            <i class="fas fa-graduation-cap mt-2" style="font-size:18px; color:#ffd900"></i>
                            <span  style="margin-left:15px">
                                <div class="tajriba">
                                    <p><strong>Yutuqari:</strong> <span>O'zbekiston Milly Unuversititi Magistranti</span></p>
                                </div>
                            </span>
                        </li>
                        <li class="list-inline-item d-flex ">
                            <i class="fa-solid fa-shield-blank mt-2" style="font-size:18px; color:#ffd900"></i>
                            <span  style="margin-left:15px">
                                <div class="tajriba">
                                    <p><strong>Kuchli tomonlari:</strong> <span>Ma'suliyatli,o'quvchilarga nisbatan qattiqqo'l</span></p>
                                </div>
                            </span>
                        </li>
                    </ul> 
                </div>
            </div> 
            <div class="col-md-6 col-lg-4 col-xl-3 max-auto mt-3 " id="teacher" >
               <div class="mentor">
                    <div class="text-center">
                      <img src="../../public/img/xolov.jpg" alt="">
                    </div>
                    <h4 class="text-center" style="color:#0d6efd; font-size:28px;">Xolov Sherzod</h4>
                    <ul class="list-inline  text-md-left">
                        <li class="list-inline-item d-flex ">
                            <i class="fas fa-star mt-2" style="font-size:18px; color:#ffd900"></i>
                            <span  style="margin-left:15px">
                                <div class="tajriba">
                                    <p><strong>Tajriba:</strong> <span>9 yil</span></p>
                                </div>
                            </span>
                        </li>
                        <li class="list-inline-item d-flex ">
                            <i class="fas fa-graduation-cap mt-2" style="font-size:18px; color:#ffd900"></i>
                            <span  style="margin-left:15px">
                                <div class="tajriba">
                                    <p><strong>Yutuqari:</strong> <span>O'zbekiston Milly Unuversititi Magistranti</span></p>
                                </div>
                            </span>
                        </li>
                        <li class="list-inline-item d-flex ">
                            <i class="fa-solid fa-shield-blank mt-2" style="font-size:18px; color:#ffd900"></i>
                            <span  style="margin-left:15px">
                                <div class="tajriba">
                                    <p><strong>Kuchli tomonlari:</strong> <span>Ma'suliyatli,o'quvchilarga nisbatan qattiqqo'l</span></p>
                                </div>
                            </span>
                        </li>
                    </ul> 
               </div>
            </div> 
            <div class="col-md-6 col-lg-4 col-xl-3 max-auto mt-3 " id="teacher" >
                <div class="mentor">
                    <div class="text-center">
                      <img src="../../public/img/xolov.jpg" alt="">
                    </div>
                    <h4 class="text-center" style="color:#0d6efd; font-size:28px;">Xolov Sherzod</h4>
                    <ul class="list-inline  text-md-left">
                        <li class="list-inline-item d-flex ">
                            <i class="fas fa-star mt-2" style="font-size:18px; color:#ffd900"></i>
                            <span  style="margin-left:15px">
                                <div class="tajriba">
                                    <p><strong>Tajriba:</strong> <span>9 yil</span></p>
                                </div>
                            </span>
                        </li>
                        <li class="list-inline-item d-flex ">
                            <i class="fas fa-graduation-cap mt-2" style="font-size:18px; color:#ffd900"></i>
                            <span  style="margin-left:15px">
                                <div class="tajriba">
                                    <p><strong>Yutuqari:</strong> <span>O'zbekiston Milly Unuversititi Magistranti</span></p>
                                </div>
                            </span>
                        </li>
                        <li class="list-inline-item d-flex ">
                            <i class="fa-solid fa-shield-blank mt-2" style="font-size:18px; color:#ffd900"></i>
                            <span  style="margin-left:15px">
                                <div class="tajriba">
                                    <p><strong>Kuchli tomonlari:</strong> <span>Ma'suliyatli,o'quvchilarga nisbatan qattiqqo'l</span></p>
                                </div>
                            </span>
                        </li>
                    </ul> 
                </div>
            </div>  
        </div>
    </div>
</template>
<script>

export default {
    name: 'Team2'
}
</script>
<style scoped>

.text h3{
    color: #ffd900;
    margin-bottom: 0;
    margin-top: 150px; 
    font-weight: bold;
    margin-left: 20px;
}
.text h3 span{
    color: #555;
    margin-top: 50px !important;
    align-items: center;
}
.tajriba p{
    font-size: 18px;
    color: #555;
    font-family: 'MontBold' !important;
}
#teacher .mentor{
    border-radius: 16px;
    margin: 1px;
    


}
#teacher div img{
    padding: 2px;
    width: 80%;
    border-radius: 50%;
}
@media(max-width:980px){
    .text h3{
    color: #ffd900;
    margin-bottom: 0;
    margin-top: 100px; 
    font-weight: bold;
    margin-left: 20px;
    font-size: 20px;
    }
}
@media(max-width:750px){
    .text h3{
    color: #ffd900;
    margin-bottom: 50px;
    margin-top: 30px; 
    font-weight: bold;
    margin-left: 20px;
    font-size: 20px;
    text-align: center;
 }
}
</style>
