<template>
    <div>

        
        <!--Header start-->
        
        <!--Header end-->
        <input type="checkbox"  id="check">
        <!--Sidebar start-->
        <div class="sidebar">
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
            <!--<center>
                <img src="../../../public/img/xolov.jpg" class="profile_image"  alt="">
                <h4>Asliddin</h4>
            </center>-->
            <a href="/user"><i class="fas fa-home"></i><span>Asosiy</span></a>
            <a href="/user/course"><i class="fas fa-book-reader"></i><span>Kurslar</span></a>
            <a href="/user/price"><i class="fas fa-credit-card"></i><span>To'lov</span></a>
            <a href="/user/settings"><i class="fas fa-cog"></i><span>Sozlamalar</span></a>
            <a href="/user/exit"><i class="fas fa-sign-out-alt"></i><span>Chiqish</span></a>

        </div>
        <!--Sidebar end-->
        <div class="content">
            <Course/>
        </div>
       
    </div>
</template>
<script>
import Course from './Cabinet/Course.vue'
export default {
    name: 'UCourse',
    components:{
        Course,
    }
}
</script>
<style scoped>

.sidebar{
    background:#f5f7f9;
    margin-top: -25px;
    padding-top: 20px;
    position: fixed;
    left: 0;
    width: 60px;
    height: 100%;
    transition: 0.5s;
    transition-property: width;
}

.sidebar a{
    color: #555;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar a:hover{
    background: #FAE038;
}
.sidebar a span{
    display: none;
    padding-right: 30px;
    
 

}
.sidebar i{
    padding-right: 10px;
}


label #sidebar_btn{
    z-index: 1;
    color: #ffd900;
    position: fixed;
    cursor: pointer;
    left: 20px;
    font-size: 20px;
    margin-top:-15px;
    
}
#check:checked ~ .sidebar{
    
    width: +200px;
}
#check:checked ~ .sidebar a span{
    display: block;
    position: fixed;
    padding-left: 30px;
    margin-top: -60px;
    

}
#check:checked ~ .sidebar a{
    font-size: 15px;
    margin-left: 10px;
    width: 60px;
    
}
#check:checked ~ .sidebar a:hover{
    background: #FAE038;
    width: 100%;
    margin-left: 0;
}
.content{
    margin-left: 60px;
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;

}

#check:checked ~ .content{
    margin-left: 230px;
}
#check{
    display: none;
}



</style>