<template>
    
    <div>
        <div class="row mt-4">
            <div class="col">
                <h3  class="mb-2 font-wieght-bold " style="color:#555; font-weight: bold;font-size:20px" >Kurslar</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col" id="course">
                <h5 class="text-uppercase mb-4 font-wieght-bold " style="color:#ffd900">Tarix</h5>
                    <p>
                       <i class="fas fa-calendar-week"> <span>Dushanba</span></i>
                       <i class="far fa-clock"> <span>8:00</span></i>
                    </p>
                    <p >
                       <i class="fas fa-calendar-week"> <span>Chorshanba</span></i>
                       <i class="far fa-clock"> <span>8:00</span></i>
                    </p>
                    <p>
                       <i class="fas fa-calendar-week"> <span>Juma</span></i>
                       <i class="far fa-clock"> <span>8:00</span></i> 
                    </p>
                   
            </div>
        
        </div>

    </div>
    
    
</template>
<script>
export default {
    name: 'Course'
   
}
</script>
<style scoped>

#course p i{
    color: #ffd900;
    margin-right: 20px;
    font-size: 15px;
}
#course p i span{
    color:#555;
    margin-left: 10px;
}



</style>
