<template>
    <div>
        <div class="row mt-4">
            <div class="col">
                <h6 class="mt-4 font-wieght-bold" style="color:#555">Asliddin</h6>
                <h3  class="mb-2 font-wieght-bold " style="color:#555; font-weight: bold;font-size:20px" >Assalomu Alaykum</h3>
                <img src="../../../public/img/xolov.jpg" class="img"  alt="">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 max-auto mt-3" id="course">
                <div>
                    <i class="fas fa-calendar-week"> <span>Sentabr</span></i>
                </div>
                 <h5 class="text-uppercase mb-4  mt-4 font-wieght-bold " style="color:#ffd900">Tarix</h5>
                <div>
                    <span>O'zlashtirish darajasi</span>
                   <!--spinner start-->
                    <div id="spinner">
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                   <!--spinner start-->
                   <div>
                       <p class="day">Qoldirgan darslar 3 kun
                       </p>
                   </div>
                 </div>                
            </div>
             <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 max-auto mt-3" id="course">
                <div>
                    <i class="fas fa-calendar-week"> <span>Sentabr</span></i>
                </div>
                 <h5 class="text-uppercase mb-4  mt-4 font-wieght-bold " style="color:#ffd900">Tarix</h5>
                <div>
                    <span>O'zlashtirish darajasi</span>
                   <!--spinner start-->
                    <div id="spinner">
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                   <!--spinner start-->
                   <div>
                       <p class="day">Qoldirgan darslar 3 kun
                       </p>
                   </div>
                 </div>                
            </div>
        </div>
    </div>
    
    
</template>
<script>


export default {
    name: 'Home'
}
</script>
<style scoped>


.img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: right;
    margin-right: 30px;
    margin-top: -80px;
}
#course div i{
    color: #ffd900;
    margin-right: 20px;
    font-size: 20px;
}
#course div i span{
    color:#555;
    margin-top: 10px;
    margin-left: 10px;
}
#course .day{
    color:#555;
    margin-top: 10px;
}
/**spinner Start */
#spinner{
    margin-top: -35px;
    margin-left: 180px;
    width: 50px;
    height: 50px;
}
.progress{
    background: none;
    margin: 0 auto;
    box-shadow: none;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: relative;
}
.progress:after{
    content: "";
    border-radius: 50%;
    border: 15px solid #f2f5f5;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.progress > span{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    border-width: 15px;
    border-style: solid;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    font-size: 10px;
    color: rgb(250, 245, 245);
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    color:#555;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
.progress.blue .progress-bar{
    border-color: #26abfd;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdc426;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #f83754;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
</style>
