<template>
    
    <div>
        <div class="row mt-4">
            <div class="col">
                <h3  class="mb-2 font-wieght-bold " style="color:#555; font-weight: bold;font-size:20px" >To'lovlar</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col" id="course">
                <h5 class="text-uppercase mb-4 font-wieght-bold " style="color:#ffd900">Tarix</h5>
                    <p>
                       <i class="fas fa-calendar-week"> <span>Sentabr</span></i>
                       <i class="fas fa-check" style="color:green"></i>
                       <i class="fas fa-times" style="color:red"></i>
                    </p>
                     <p>
                       <i class="fas fa-calendar-week"> <span>Oktabr</span></i>
                       <i class="fas fa-check" style="color:green"></i>
                       <i class="fas fa-times" style="color:red"></i>
                    </p>
                     <p>
                       <i class="fas fa-calendar-week"> <span>Noyabr</span></i>
                       <i class="fas fa-check" style="color:green"></i>
                       <i class="fas fa-times" style="color:red"></i>
                    </p>
                   
            </div>
        
        </div>

    </div>
    
    
</template>
<script>
export default {
    name: 'Price'
   
}
</script>
<style scoped>

#course p i{
    color: #ffd900;
    margin-right: 20px;
    font-size: 15px;
}
#course p i span{
    color:#555;
    margin-left: 10px;
}



</style>
