<template>
  <div id="app">
    <div class="container">
      <router-view/>

    </div>
  </div>
</template>

<script>


export default {
  name: 'App',
  components: {
  
  }
}
</script>

<style>
#app {
    font-family: 'Open Sans', sans-serif;
  
}

</style>
